* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f5f9;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.8em;
  color: #6A4C9C; /* NYU Purple */
  margin-bottom: 10px;
  font-weight: bold;
}

header p {
  font-size: 1.1em;
  color: #555;
}

header a {
  color: #6A4C9C; /* NYU Purple */
}

header a:hover {
  text-decoration: underline;
}

header button {
  padding: 12px 25px;
  background-color: #6A4C9C; /* NYU Purple */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

header button:hover {
  background-color: #5b409c; /* Slightly darker shade of purple */
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #6A4C9C; /* NYU Purple */
  padding-bottom: 8px;
}

h3 {
  font-size: 1.5em;
  color: #6A4C9C; /* NYU Purple */
  margin-bottom: 8px;
}

.education-item, .experience-item, .skills, .projects-item {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 5px;
}

ul li {
  font-size: 1em;
  color: #555;
  margin-bottom: 5px;
}

a {
  color: #6A4C9C; /* NYU Purple */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #777;
}

footer a {
  color: #6A4C9C; /* NYU Purple */
}

footer a:hover {
  text-decoration: underline;
}

.skills p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 10px;
}

.projects-item {
  margin-bottom: 20px;
}

.projects-item h3 {
  font-size: 1.6em;
  color: #333;
}

.projects-item p {
  font-size: 1.1em;
  color: #555;
  margin-top: 10px;
}

button {
  padding: 12px 25px;
  background-color: #6A4C9C; /* NYU Purple */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5b409c;
}

/* For the NYU-style button for projects */
.project-button {
  padding: 12px 25px;
  background-color: #6A4C9C;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.project-button:hover {
  background-color: #5b409c;
}
